%tr
  %td= class_room.id
  %td= class_room.name
  %td= class_room.teacher.name
  %td= class_room.semester.name
  %td.action
    = link_to([:hq, class_room], class: 'btn btn-success', toogle: 'tooltip', title: t('tooltips.zoom')) do
      %i.icon-zoom-in
    = link_to(edit_hq_class_room_path(class_room) , class: 'btn btn-info') do
      %i.icon-edit
    = link_to([:hq, class_room], class: 'btn btn-danger', method: :delete) do
      %i.icon-trash