.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = yield :form_title
  .panel-body
    = simple_form_for([:hq, @class_room]) do |f|
      = f.error_notification

      .form-inputs
        = f.input :name
        = f.association :semester
        = f.association :teacher
        = f.association :users, multiple: true

      .form-actions
        = f.button :submit, class: 'btn btn-default'
        = link_to t('cancel'), hq_class_rooms_path, class: 'btn'
