.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %i.icon-edit.icon-large
        = t('tt.show', resource_name: ClassRoom.model_name.human)
      .panel-body
        = show_for @class_room do |s|
          = s.attribute :name
          = s.association :teacher
          = s.association :semester
          = s.attribute :gpa do
            = @student.gpa
          = s.attribute :score do
            = @student.score
          = s.attribute :attendance do
            = @student.attendance

        = link_to 'Sınıf listesine dön', class_rooms_path