%tr
  %td= announcement.id
  %td= announcement.title


  %td.action
    = link_to([:teacher, announcement], class: 'btn btn-success', toogle: 'tooltip', title: t('tooltips.zoom')) do
      %i.icon-zoom-in
    = link_to(edit_teacher_announcement_path(announcement) , class: 'btn btn-info') do
      %i.icon-edit
    = link_to([:teacher, announcement], class: 'btn btn-danger', method: :delete) do
      %i.icon-trash