- content_for :toolbar do
  = link_to edit_hq_user_path(@user), class: 'btn btn-default' do
    %i.icon-plus
    = t('action_button.edit', resource_name: User.model_name.human)
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %i.icon-user.icon-large
        Öğrenci Bilgileri
      .panel-body
        = show_for @user do |s|
          = s.attribute :email
          = s.attribute :name
  .col-md-6
    .panel.panel-default.grid
      .panel-heading
        %i.icon-list.icon-large
        Aldığı Dersler

      %table.table
        %tbody