%tr{class: class_room.teacher_id == current_teacher.id ? 'success' : ''}
  %td= class_room.id
  %td= class_room.name
  %td= class_room.teacher.name
  %td= class_room.semester.name
  %td.action
    = link_to([:teacher, class_room], class: 'btn btn-success', toogle: 'tooltip', title: t('tooltips.zoom')) do
      %i.icon-zoom-in